{% extends 'base.html' %}

{% block content %}
    {{ articles }}

    {# 
        for article in articles:
        <h1>
            {{ article.title }}
        </h1>
        <div>
            This article was written by {{ article.author }}
            <br>
            Description: 
            <br>
            {{  article.description  }}
        </div>
    #}
{% endblock %}